<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="close" style="color: black;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-weight: bold;">Editar Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveProfile()" style="color: #964300; font-weight: bold;">
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  
  <p style="font-weight: bold; color: gray;">Información Básica</p>
  
  <ion-item class="custom-input" lines="none">
    <ion-label position="stacked">Nombre del Dueño</ion-label>
    <ion-input [(ngModel)]="editData.ownerName"></ion-input>
  </ion-item>

  <ion-item class="custom-input" lines="none">
    <ion-label position="stacked">Nombre de la Mascota</ion-label>
    <ion-input [(ngModel)]="editData.petName"></ion-input>
  </ion-item>

  <ion-item class="custom-input" lines="none">
    <ion-label position="stacked">Raza</ion-label>
    <ion-input [(ngModel)]="editData.breed"></ion-input>
  </ion-item>

  <p style="font-weight: bold; color: gray; margin-top: 24px;">Contacto y Ubicación</p>

  <ion-item class="custom-input" lines="none">
    <ion-icon name="location" slot="start" style="color: #964300; margin-top: 24px;"></ion-icon>
    <ion-label position="stacked">Ubicación</ion-label>
    <ion-input [(ngModel)]="editData.location"></ion-input>
  </ion-item>

  <ion-item class="custom-input" lines="none">
    <ion-icon name="mail" slot="start" style="color: #964300; margin-top: 24px;"></ion-icon>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="editData.email"></ion-input>
  </ion-item>

  <ion-item class="custom-input" lines="none">
    <ion-icon name="call" slot="start" style="color: #964300; margin-top: 24px;"></ion-icon>
    <ion-label position="stacked">Teléfono</ion-label>
    <ion-input [(ngModel)]="editData.phone"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="saveProfile()" style="--background: #964300; --border-radius: 12px; margin-top: 32px; font-weight: bold; height: 50px;">
    Actualizar Perfil
  </ion-button>

</ion-content>